* {
    list-style-type: none;
    padding: 0;
    border: 0;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: blueviolet;
}
li {
    list-style: none;
}
/* header */
.header {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    flex-direction: row;
    margin: 16px;
    animation: moveRightAndBack 20s ease-in-out infinite; /* 3초 동안 이동 후 반복 */
}
.header_logo i {
    font-size: 28px;
    color: darkorchid;
}
.header_logo a {
    margin: 0px auto 0px 10px;
    font-size: 24px;
    color: cornflowerblue;
    font-family: 'Gowun Dodum';
}
.header_links {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    margin: 16px;
    padding: 0px;
}
.header_links li {
    margin-left: 10px;
}
.header_links li a i {
    color: blueviolet;
}
/* navbar */
.navbar {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
.navbar_menu {
    /* background-color: yellow; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px 16px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
.navbar_menu li {
    padding: 10px 16px;
    font-size: 24px;
    font-weight: 600;
    transition: transform 250ms;
}
.navbar_menu li:hover {
    transform: translateY(-8px);
    scale: 120%;
    font-weight: bold;
}
.navbar_menu a:hover {
    color: blue;
}
input {
    all: unset;
    /* 또는 */
    box-shadow: 0px 0px 3px 0px rgb(153, 153, 155) !important;
}
.form-control{box-shadow: 0px 0px 3px 0px rgb(153, 153, 155) !important;}
/*background-color:   rgba(27, 146, 255, 1) 파란색*/
.box {
    width: 800px;
    margin: 30px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px blue;
    border-radius: 5px
}
.d-grid{margin-top:30px;}
